// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1-b-name: 'icon-1_b';
$icon-1-b-x: 502px;
$icon-1-b-y: 502px;
$icon-1-b-offset-x: -502px;
$icon-1-b-offset-y: -502px;
$icon-1-b-width: 28px;
$icon-1-b-height: 33px;
$icon-1-b-total-width: 754px;
$icon-1-b-total-height: 812px;
$icon-1-b-image: '../img/sprite-png.png';
$icon-1-b: (502px, 502px, -502px, -502px, 28px, 33px, 754px, 812px, '../img/sprite-png.png', 'icon-1_b', );
$icon-1-g-name: 'icon-1_g';
$icon-1-g-x: 426px;
$icon-1-g-y: 416px;
$icon-1-g-offset-x: -426px;
$icon-1-g-offset-y: -416px;
$icon-1-g-width: 28px;
$icon-1-g-height: 33px;
$icon-1-g-total-width: 754px;
$icon-1-g-total-height: 812px;
$icon-1-g-image: '../img/sprite-png.png';
$icon-1-g: (426px, 416px, -426px, -416px, 28px, 33px, 754px, 812px, '../img/sprite-png.png', 'icon-1_g', );
$icon-1-w-name: 'icon-1_w';
$icon-1-w-x: 464px;
$icon-1-w-y: 459px;
$icon-1-w-offset-x: -464px;
$icon-1-w-offset-y: -459px;
$icon-1-w-width: 28px;
$icon-1-w-height: 33px;
$icon-1-w-total-width: 754px;
$icon-1-w-total-height: 812px;
$icon-1-w-image: '../img/sprite-png.png';
$icon-1-w: (464px, 459px, -464px, -459px, 28px, 33px, 754px, 812px, '../img/sprite-png.png', 'icon-1_w', );
$icon-2-b-name: 'icon-2_b';
$icon-2-b-x: 632px;
$icon-2-b-y: 635px;
$icon-2-b-offset-x: -632px;
$icon-2-b-offset-y: -635px;
$icon-2-b-width: 36px;
$icon-2-b-height: 35px;
$icon-2-b-total-width: 754px;
$icon-2-b-total-height: 812px;
$icon-2-b-image: '../img/sprite-png.png';
$icon-2-b: (632px, 635px, -632px, -635px, 36px, 35px, 754px, 812px, '../img/sprite-png.png', 'icon-2_b', );
$icon-2-g-name: 'icon-2_g';
$icon-2-g-x: 586px;
$icon-2-g-y: 590px;
$icon-2-g-offset-x: -586px;
$icon-2-g-offset-y: -590px;
$icon-2-g-width: 36px;
$icon-2-g-height: 35px;
$icon-2-g-total-width: 754px;
$icon-2-g-total-height: 812px;
$icon-2-g-image: '../img/sprite-png.png';
$icon-2-g: (586px, 590px, -586px, -590px, 36px, 35px, 754px, 812px, '../img/sprite-png.png', 'icon-2_g', );
$icon-2-w-name: 'icon-2_w';
$icon-2-w-x: 540px;
$icon-2-w-y: 545px;
$icon-2-w-offset-x: -540px;
$icon-2-w-offset-y: -545px;
$icon-2-w-width: 36px;
$icon-2-w-height: 35px;
$icon-2-w-total-width: 754px;
$icon-2-w-total-height: 812px;
$icon-2-w-image: '../img/sprite-png.png';
$icon-2-w: (540px, 545px, -540px, -545px, 36px, 35px, 754px, 812px, '../img/sprite-png.png', 'icon-2_w', );
$icon-3-b-name: 'icon-3_b';
$icon-3-b-x: 174px;
$icon-3-b-y: 194px;
$icon-3-b-offset-x: -174px;
$icon-3-b-offset-y: -194px;
$icon-3-b-width: 32px;
$icon-3-b-height: 25px;
$icon-3-b-total-width: 754px;
$icon-3-b-total-height: 812px;
$icon-3-b-image: '../img/sprite-png.png';
$icon-3-b: (174px, 194px, -174px, -194px, 32px, 25px, 754px, 812px, '../img/sprite-png.png', 'icon-3_b', );
$icon-3-g-name: 'icon-3_g';
$icon-3-g-x: 216px;
$icon-3-g-y: 229px;
$icon-3-g-offset-x: -216px;
$icon-3-g-offset-y: -229px;
$icon-3-g-width: 32px;
$icon-3-g-height: 25px;
$icon-3-g-total-width: 754px;
$icon-3-g-total-height: 812px;
$icon-3-g-image: '../img/sprite-png.png';
$icon-3-g: (216px, 229px, -216px, -229px, 32px, 25px, 754px, 812px, '../img/sprite-png.png', 'icon-3_g', );
$icon-3-w-name: 'icon-3_w';
$icon-3-w-x: 258px;
$icon-3-w-y: 264px;
$icon-3-w-offset-x: -258px;
$icon-3-w-offset-y: -264px;
$icon-3-w-width: 32px;
$icon-3-w-height: 25px;
$icon-3-w-total-width: 754px;
$icon-3-w-total-height: 812px;
$icon-3-w-image: '../img/sprite-png.png';
$icon-3-w: (258px, 264px, -258px, -264px, 32px, 25px, 754px, 812px, '../img/sprite-png.png', 'icon-3_w', );
$icon-4-b-name: 'icon-4_b';
$icon-4-b-x: 300px;
$icon-4-b-y: 299px;
$icon-4-b-offset-x: -300px;
$icon-4-b-offset-y: -299px;
$icon-4-b-width: 32px;
$icon-4-b-height: 29px;
$icon-4-b-total-width: 754px;
$icon-4-b-total-height: 812px;
$icon-4-b-image: '../img/sprite-png.png';
$icon-4-b: (300px, 299px, -300px, -299px, 32px, 29px, 754px, 812px, '../img/sprite-png.png', 'icon-4_b', );
$icon-4-g-name: 'icon-4_g';
$icon-4-g-x: 384px;
$icon-4-g-y: 377px;
$icon-4-g-offset-x: -384px;
$icon-4-g-offset-y: -377px;
$icon-4-g-width: 32px;
$icon-4-g-height: 29px;
$icon-4-g-total-width: 754px;
$icon-4-g-total-height: 812px;
$icon-4-g-image: '../img/sprite-png.png';
$icon-4-g: (384px, 377px, -384px, -377px, 32px, 29px, 754px, 812px, '../img/sprite-png.png', 'icon-4_g', );
$icon-4-w-name: 'icon-4_w';
$icon-4-w-x: 342px;
$icon-4-w-y: 338px;
$icon-4-w-offset-x: -342px;
$icon-4-w-offset-y: -338px;
$icon-4-w-width: 32px;
$icon-4-w-height: 29px;
$icon-4-w-total-width: 754px;
$icon-4-w-total-height: 812px;
$icon-4-w-image: '../img/sprite-png.png';
$icon-4-w: (342px, 338px, -342px, -338px, 32px, 29px, 754px, 812px, '../img/sprite-png.png', 'icon-4_w', );
$icon-5-b-name: 'icon-5_b';
$icon-5-b-x: 108px;
$icon-5-b-y: 124px;
$icon-5-b-offset-x: -108px;
$icon-5-b-offset-y: -124px;
$icon-5-b-width: 23px;
$icon-5-b-height: 25px;
$icon-5-b-total-width: 754px;
$icon-5-b-total-height: 812px;
$icon-5-b-image: '../img/sprite-png.png';
$icon-5-b: (108px, 124px, -108px, -124px, 23px, 25px, 754px, 812px, '../img/sprite-png.png', 'icon-5_b', );
$icon-5-g-name: 'icon-5_g';
$icon-5-g-x: 141px;
$icon-5-g-y: 159px;
$icon-5-g-offset-x: -141px;
$icon-5-g-offset-y: -159px;
$icon-5-g-width: 23px;
$icon-5-g-height: 25px;
$icon-5-g-total-width: 754px;
$icon-5-g-total-height: 812px;
$icon-5-g-image: '../img/sprite-png.png';
$icon-5-g: (141px, 159px, -141px, -159px, 23px, 25px, 754px, 812px, '../img/sprite-png.png', 'icon-5_g', );
$icon-5-w-name: 'icon-5_w';
$icon-5-w-x: 75px;
$icon-5-w-y: 89px;
$icon-5-w-offset-x: -75px;
$icon-5-w-offset-y: -89px;
$icon-5-w-width: 23px;
$icon-5-w-height: 25px;
$icon-5-w-total-width: 754px;
$icon-5-w-total-height: 812px;
$icon-5-w-image: '../img/sprite-png.png';
$icon-5-w: (75px, 89px, -75px, -89px, 23px, 25px, 754px, 812px, '../img/sprite-png.png', 'icon-5_w', );
$icon-gps-name: 'icon-gps';
$icon-gps-x: 22px;
$icon-gps-y: 28px;
$icon-gps-offset-x: -22px;
$icon-gps-offset-y: -28px;
$icon-gps-width: 16px;
$icon-gps-height: 15px;
$icon-gps-total-width: 754px;
$icon-gps-total-height: 812px;
$icon-gps-image: '../img/sprite-png.png';
$icon-gps: (22px, 28px, -22px, -28px, 16px, 15px, 754px, 812px, '../img/sprite-png.png', 'icon-gps', );
$icon-point-name: 'icon-point';
$icon-point-x: 0px;
$icon-point-y: 0px;
$icon-point-offset-x: 0px;
$icon-point-offset-y: 0px;
$icon-point-width: 12px;
$icon-point-height: 18px;
$icon-point-total-width: 754px;
$icon-point-total-height: 812px;
$icon-point-image: '../img/sprite-png.png';
$icon-point: (0px, 0px, 0px, 0px, 12px, 18px, 754px, 812px, '../img/sprite-png.png', 'icon-point', );
$icon-scroll-name: 'icon-scroll';
$icon-scroll-x: 678px;
$icon-scroll-y: 680px;
$icon-scroll-offset-x: -678px;
$icon-scroll-offset-y: -680px;
$icon-scroll-width: 76px;
$icon-scroll-height: 132px;
$icon-scroll-total-width: 754px;
$icon-scroll-total-height: 812px;
$icon-scroll-image: '../img/sprite-png.png';
$icon-scroll: (678px, 680px, -678px, -680px, 76px, 132px, 754px, 812px, '../img/sprite-png.png', 'icon-scroll', );
$iocn-mouse-name: 'iocn-mouse';
$iocn-mouse-x: 48px;
$iocn-mouse-y: 53px;
$iocn-mouse-offset-x: -48px;
$iocn-mouse-offset-y: -53px;
$iocn-mouse-width: 17px;
$iocn-mouse-height: 26px;
$iocn-mouse-total-width: 754px;
$iocn-mouse-total-height: 812px;
$iocn-mouse-image: '../img/sprite-png.png';
$iocn-mouse: (48px, 53px, -48px, -53px, 17px, 26px, 754px, 812px, '../img/sprite-png.png', 'iocn-mouse', );
$spritesheet-width: 754px;
$spritesheet-height: 812px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($icon-1-b, $icon-1-g, $icon-1-w, $icon-2-b, $icon-2-g, $icon-2-w, $icon-3-b, $icon-3-g, $icon-3-w, $icon-4-b, $icon-4-g, $icon-4-w, $icon-5-b, $icon-5-g, $icon-5-w, $icon-gps, $icon-point, $icon-scroll, $iocn-mouse, );
$spritesheet: (754px, 812px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
