.accordion {
  &__item {
    position: relative;

    border-bottom: 1px solid rgba(72, 72, 72, 0.2);

    &--active {
      & .accordion__item-text {
        display: block;
        animation-name: fadeInDown;
      }

      & .accordion__item-icon {
        transform: rotate(180deg);
      }
    }

    &--big {
      & .accordion__item-header {
        padding-top: 30px;
        padding-bottom: 20px;

        & h3 {
          padding-top: 10px;
        }
      }

      & .accordion__item-icon {
        padding-top: 0;
      }

      & .accordion__item-number {
        padding-top: 0;
      }
    }
  }

  &__item-number {
    width: 17px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    padding-top: 4px;
    line-height: 170%;
  }

  &__item-header {
    display: flex;
    align-items: center;
    padding-top: 29px;
    
    padding-bottom: 21px;
    padding-right: 36px;

    @media (max-width: 959px) {
      padding-right: 0;
    }

    &:hover {
      cursor: pointer;
    }

    & h3 {
      margin: 0;
      padding-left: 10px;
      width: 75%;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;
      color: $primary-color;

      @media (max-width: $mobile) {
        width: 85%;
        font-size: 16px;
        line-height: 160%;
      }
    }
  }

  &__item-icon {
    padding-top: 10px;
    width: 20px;
    height: 20px;
    fill: transparent;
    margin-left: auto;
  }

  &__item-text {
    display: none;
    animation-name: fadeInUp;
    margin-bottom: 26px;
    padding-right: 35px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;

    color: $primary-color;
    opacity: 0.74;
  }
}
