.contacts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 45px;

  @media (max-width: $mobile) {
    padding-bottom: 0;
  }

  & h2 {
    width: 100%;
    margin-bottom: 48px;

    letter-spacing: 1.5px;

    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__info {
    width: 43%;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 100%;
    }

    & p {
      margin: 0;
      margin-bottom: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 170%;

      color: $primary-color;
      opacity: 0.87;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 160%;
      }
    }
  }

  &__city {
    display: inline-flex;
    align-items: center;

    margin-bottom: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;

    color: $primary-color;
    opacity: 0.74;

    & svg {
      width: 20px;
      fill: rgba(72, 72, 72, 0.2);
    }

    & span {
      padding: 0 16px 0 0;
    }

    & a {
      position: relative;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;

      font-variant: small-caps;

      color: $primary-color;
      opacity: 0.74;

      text-decoration: none;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 20px);
        height: 2px;
        border-bottom: 2px dashed $secondary-color;
      }
    }
  }

  &__manager {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    box-sizing: border-box;
  }

  &__manager-pic {
    margin-right: 25px;
    max-width: 112px;

    box-sizing: border-box;

    & img {
      border-radius: 50%;
    }
  }

  &__manager-info {
    padding-top: 3px;
    width: 60%;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 100%;
    }

    & p {
      margin: 0;
      margin-bottom: 5px;
      padding-right: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 150%;

      color: $primary-color;
      opacity: 0.74;
    }
  }

  &__manager-name {
    margin-bottom: 12px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;

    color: rgba(72, 72, 72, 0.74);

    & span {
      color: $secondary-color;
    }
  }

  &__manager-social {
    padding-top: 10px;

    & svg {
      width: 20px;
      fill: rgba(72, 72, 72, 0.2);
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    min-height: 448px;
    box-sizing: border-box;
    background-image: url("../img/contacts/map.png");

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 48px;

    @media (max-width: $mobile) {
      position: relative;
      width: 100%;

      background-image: url("../img/contacts/map-mob.png");
    }
  }
}
