.guide {
  position: relative;
  padding-left: 0;
  padding-top: 145px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-image: url("../img/guide/icon-pass.png"),
    url("../img/guide/water-color-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, 96% 103%;
  background-position: 109% 40%, 0;

  @media (max-width: $mobile) {
    padding-left: 16px;
    padding-top: 80px;
    padding-bottom: 80px;

    background-image: url("../img/guide/icon-pass.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 175% 45%, 0;
  }

  &__pic {
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      display: none;
      width: 100%;
    }
  }

  &__info {
    padding-top: 38px;
    padding-left: 50px;
    padding-right: 24px;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      padding: 0;
      width: 100%;
    }

    & h2 {
      margin: 0;
      margin-bottom: 24px;
      padding-left: 22px;

      @media (max-width: $mobile) {
        padding: 0;
      }
    }

    & p {
      margin: 0;
      margin-bottom: 36px;
      padding-right: 50px;
      padding-left: 22px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 170%;
      color: $primary-color;
      opacity: 0.87;

      @media (max-width: $mobile) {
        padding: 0;
        font-size: 14px;
        line-height: 160%;
      }
    }
  }

  &__list {
    padding-right: 60px;
    margin-bottom: 50px;

    @media (max-width: $mobile) {
      padding: 0;
    }

    & ul {
      position: relative;
      padding: 0;
      margin: 0;
      list-style: none;

      counter-reset: li;

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 22px;
        opacity: 0.2;
        height: 90%;
        width: 1px;
        border-left: 1px dashed #484848;
      }
    }

    & li {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      min-height: 42px;
      padding-left: 65px;

      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 140%;
      color: #484848;
      opacity: 0.87;

      @media (max-width: $mobile) {
        font-size: 14px;
        line-height: 160%;
      }

      &::before {
        counter-increment: li;
        content: counter(li);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        padding: 5px 17px;

        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 170%;

        color: #ffc341;
        background: #ffffff;

        border-radius: 50%;

        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
      }
    }

    & p {
      margin: 0;
      margin-bottom: 23px;
      padding-right: 10px;
      font-weight: 500;
      font-size: 17px;
      line-height: 170%;

      @media (max-width: $mobile) {
        padding: 0;
        font-size: 16px;
        line-height: 160%;
      }
    }
  }

  &__warning {
    position: relative;
    padding-left: 20px;
    margin-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;

    color: $primary-color;
    opacity: 0.5;

    @media (max-width: $mobile) {
      padding-left: 10px;
      font-size: 14px;
      line-height: 160%;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../img/icons/icon-warning-line.svg");
    }
  }
}
