.input-phone {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 40px;
    left: 40px;

    width: 240px;
    height: 3px;
    background-size: 36px, 24px, 16px, 16px;
    background-image: url("../img/icons/icon-tel-bd.svg"), url("../img/icons/icon-tel-bd-1.svg"), url("../img/icons/icon-tel-bd-2.svg"), url("../img/icons/icon-tel-bd-3.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 23px 0, 65px 0, 95px 0, 117px 0;
  }

  & input:focus::placeholder {
    color: transparent;
  }
}
