.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  min-height: 888px;

  padding: 0;

  box-sizing: border-box;

  overflow: hidden;

  background-image: url("../img/promo/mask-top.png"), url("../img/promo/mask-bottom.png"), url("../img/promo/promo-girl.png"), url("../img/promo/text-min.png"), url("../img/promo/promo-bg-min.jpg");

  background-position: top, bottom, 52% 50%, center 255px, top;
  background-size: 100% 50%, 101% 50%, 381px, 73%, 100% 99%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: #d19374;
  }

  @media (max-width: $table) {
    min-height: 700px;

    background-position: top, bottom, bottom, center 200px, top;
    background-size: 100% 50%, 101% 50%, 320px, 90%, cover;
  }

  @media (max-width: $mobile) {
    height: 100%;
    min-height: 605px;

    background-image: url("../img/promo/mask-top-mob.png"), url("../img/promo/mask-bottom-mob.png"), url("../img/promo/promo-girl.png"), url("../img/promo/text.png"), url("../img/promo/promo-bg-mob.jpg");

    background-position: top, bottom, bottom, center 200px, top;
    background-size: 100% 50%, 101% 50%, 240px, 110%, cover;
  }

  &__nav {
    width: 100%;
    margin-bottom: auto;
  }

  &__bottom {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    min-height: 350px;
    margin: 0 auto;
    color: $default-color;

    box-sizing: border-box;

    @media (max-width: $table) {
      min-height: auto;
    }

    & p {
      margin: 0;
      margin-bottom: 28px;
      max-width: 100%;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

      @media (max-width: $mobile) {
        font-size: 20px;
        line-height: 31px;
        text-align: center;
      }
    }
  }

  &__btn-scroll {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::before {
      content: "";
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);

      @include sprite($iocn-mouse);
    }

    & svg {
      fill: none;
    }
  }
}
