.page {
  position: relative;

  min-height: 100%;

  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $primary-color;
  scroll-behavior: smooth;

  & h2 {
    margin: 0;
    font-family: $titleFont;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $secondary-color;

    @include fluidFontSize(32px, 40px, 767px, 1366px, 200px);

    @media (max-width: $mobile) {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
  }

  & img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@supports (display: flex) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
