.popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(229, 229, 229, 0.95);

  box-sizing: border-box;

  &--active {
    display: flex;
  }

  &__wrapper {
    position: relative;
    padding: 100px 72px 100px 48px;
    max-width: 480px;
    background: #ffffff;
    border-radius: 8px;
    box-sizing: border-box;

    overflow-y: auto;

    @media (max-width: $mobile) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__btn-close {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("../img/icons/icon-close.svg");
    background-size: contain;
    background-position: 0 0;
    border: none;
    border-radius: 0;
    outline: none;

    cursor: pointer;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 24px;
    font-family: $titleFont;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;

    color: $secondary-color;

    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }
  }

  & p {
    margin: 0;
    margin-bottom: 32px;
    max-width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 170%;

    text-align: left;

    color: $primary-color;
    opacity: 0.87;

    box-sizing: border-box;

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 160%;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    & label {
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    & label[for="check"] {
      display: flex;
      padding: 0 30px;

      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 150%;

      color: #484848;
      opacity: 0.74;


      @media (max-width: $mobile) {
        padding: 0;
      }
    }

    & input {
      padding: 10px 20px;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      font-variant: small-caps;

      color: $primary-color;
      opacity: 0.5;
      outline: none;
      border: 2px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 80px;

      &:focus {
        border-color: $warning-color;
      }

      &:valid {
        border-color: $primary-color;
      }

      // &:invalid {
      //   border-color: #ff0000;
      // }
    }

    & input[type="checkbox"] {
      width: 20px;
      background-color: transparent;
      border: 2px solid $warning-color;
      border-radius: 2px;
    }

    & input[type="checkbox"]:not(:checked),
    & input[type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }

    & input[type="checkbox"]:not(:checked) + span,
    & input[type="checkbox"]:checked + span {
      position: relative;
      padding-left: 20px;
      cursor: pointer;
    }

    & input[type="checkbox"]:not(:checked) + span::before,
    & input[type="checkbox"]:checked + span::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 2px solid $warning-color;
      background: $default-color;
      border-radius: 0;
      box-sizing: border-box;
    }

    & input[type="checkbox"]:not(:checked) + span::after,
    & input[type="checkbox"]:checked + span::after {
      content: " ";
      position: absolute;
      top: 0.2em;
      left: 0.2em;

      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/icons/icon-tick.svg");
      color: $warning-color;
      transition: all 0.2s;
    }

    & input[type="checkbox"]:not(:checked) + span::after {
      opacity: 0;
      transform: scale(0);
    }

    & input[type="checkbox"]:checked + span::after {
      opacity: 1;
      transform: scale(1);
    }

    & button {
      margin: 0 30px;
      margin-bottom: 20px;
      padding: 13px 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      font-variant: small-caps;

      color: #ffffff;

      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
      background: linear-gradient(140.64deg, #ffc341 20.46%, #ffd701 65.31%);
      border-radius: 80px;
      outline: none;
      border: none;
      background-color: transparent;

      cursor: pointer;

      &:focus,
      &:hover {
        background: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
      }

      &:active {
        background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%),
          linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
      }

      @media (max-width: $mobile) {
        margin: 0 12px;
        margin-bottom: 20px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    padding-top: 105px;
    box-sizing: border-box;

    &--icon {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 71px;
        height: 64px;
        background-image: url("../img/icons/icon-ok.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
      }
    }

    & button {
      padding: 19px 60px;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      text-align: center;
      font-variant: small-caps;

      color: #ffffff;

      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
      text-decoration: none;
      background: linear-gradient(146.13deg, #ffc341 20.46%, #ffd701 65.31%);
      border-radius: 80px;

      outline: none;
      border: none;
      background-color: transparent;

      &:focus,
      &:hover {
        background: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
      }

      &:active {
        background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%),
          linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
      }
    }
  }
}
