.programs {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 680px;
    height: 426px;
    background-image: url("../img/programs/sketch-bg.png");
    background-size: contain;
    background-position: 0;
    background-repeat: no-repeat;
  }

  & h2 {
    margin-bottom: 70px;
  }
}
