.programs {
  position: relative;

  background-image: url("../img/programs/sketch-bg.png");
  background-size: 680px;
  background-position: 100% 0;
  background-repeat: no-repeat;

  overflow: hidden;

  @media (max-width: $mobile) {
    background-position: 100% 50%;
    background-size: contain;
  }

  &__container {
    padding: 108px 210px 35px;

    @media (max-width: 1300px) {
      padding: 54px 105px;
    }

    @media (max-width: $desktop) {
      padding: 54px 45px;
    }

    @media (max-width: $table) {
      padding: 54px 25px;
    }

    @media (max-width: $mobile) {
      padding: 34px 16px 67px;
    }
  }

  & h2 {
    margin-bottom: 70px;

    @media (max-width: $mobile) {
      margin-bottom: 15px;
    }
  }
}
