.promo-photo {
  height: 100%;
  min-height: 1100px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-bottom: 57px;
  padding-top: 15%;
  padding-bottom: 14%;
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/promo-photo/bg-min.png");
  box-sizing: border-box;

  @media (max-width: 1920px) {
    min-height: 578px;
  }

  @media (max-width: 1340px) {
    // min-height: 583px;
    background-size: contain;
    background-position: right 0;
  }

  @media (max-width: $desktop) {
    min-height: 400px;
  }

  @media (max-width: $desktop) {
    min-height: 300px;
  }

  @media (max-width: $mobile-xs) {
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 18%;
    min-height: 224px;
    background-position-y: 50%;
    background-size: 100% 50%;
    background-image: url("../img/promo-photo/bg-mob-min.png");
  }

  &.lazy {
    background-image: url("../img/dummy/dummy-promo-photo-bg.png");
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 166px;
    padding-top: 10%;

    @media (max-width: 1920px) {
      padding: 0 166px;
    }

    @media (max-width: $desktop) {
      padding: 0 100px;
    }

    @media (max-width: $table) {
      padding: 0 45px;
    }

    @media (max-width: $mobile) {
      padding: 0 16px;
    }
  }

  &__info {
    max-width: 400px;
    width: 100%;
    // padding-top: 5%;

    // @media (max-width: $desktop) {
    //   padding-top: 10%;
    // }

    @media (max-width: $table) {
      padding-top: 0;
    }

    @media (max-width: $mobile) {
      padding-top: 0;
    }

    & h2 {
      margin-bottom: 24px;
      @media (max-width: $mobile) {
        margin-bottom: 98px;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -0.02em;
      }
    }

    & p {
      margin: 0;
      margin-bottom: 48px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 170%;

      color: #ffffff;

      opacity: 0.87;

      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

      @media (max-width: $mobile) {
        margin-bottom: 60px;
        padding-left: 9px;
        font-size: 16px;
        line-height: 160%;
      }
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    padding: 20px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    font-variant: small-caps;

    color: #ffffff;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

    background: linear-gradient(142.39deg, #ffc341 20.46%, #ffd701 65.31%);
    border-radius: 80px;

    text-decoration: none;

    box-sizing: border-box;

    @media (max-width: $mobile) {
      padding: 16px 57px;
      margin-left: 12px;
    }

    &:focus,
    &:hover {
      background: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
    }

    &:active {
      background: radial-gradient(
          150% 119.49% at 50% 50.85%,
          rgba(0, 0, 0, 0) 30.67%,
          rgba(3, 3, 3, 0.24) 100%
        ),
        linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
    }

    & svg {
      margin-right: 10px;
      fill: $default-color;
    }
  }
}
