.promo-form {
  position: relative;
  max-width: 100%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 35%;
    left: -14.51px;
    width: 167px;
    height: 226px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../img/promo-form/bag.png");

    transform: rotate(15deg);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 90px;
    height: 100%;
    min-height: 594px;
    background-position: 100% 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/promo-form/girl-flag-bg.png");

    box-sizing: border-box;

    @media (max-width: $mobile) {
      background-image: url("../img/promo-form/girl-flag-bg-mob.png");
    }

    @media (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
      background-image: url("../img/promo-form/girl-flag-bg-mob@2x.png");
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/promo-form/girl-flag-bg@2x.png");
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15%;
    padding-left: 100px;
    max-width: 477px;

    & h2 {
      margin-bottom: 24px;
    }

    & p {
      margin: 0;
      margin-bottom: 64px;
      padding-right: 62px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 170%;
      color: #484848;
      opacity: 0.87;
    }
  }

  &__form {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    & input {
      padding: 10px 40px;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      font-variant: small-caps;

      color: #484848;
      opacity: 0.5;
      border: 2px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 80px;

      outline: none;

      &:focus {
        border-color: $warning-color;
      }

      &:valid {
        border-color: $primary-color;
      }

      &:invalid {
        border-color: #ff0000;
      }
    }

    & button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px 40px;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      font-variant: small-caps;

      color: #ffffff;

      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
      border: none;

      background: linear-gradient(140.64deg, #ffc341 20.46%, #ffd701 65.31%);
      border-radius: 80px;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
    }
  }
}
