.promo-form {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 90px;
    height: 100%;
    min-height: 400px;
    background-position: 100% 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/promo-form/bg.png");

    box-sizing: border-box;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 415px;
  }

  & form {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  & input {
    padding: 10px 40px;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    font-variant: small-caps;

    color: #484848;
    opacity: 0.5;
    border: 2px solid #e3e3e3;
    box-sizing: border-box;
    border-radius: 80px;

    outline: none;
  }

  & button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 40px;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    font-variant: small-caps;

    color: #ffffff;

    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    border: none;

    background: linear-gradient(140.64deg, #ffc341 20.46%, #ffd701 65.31%);
    border-radius: 80px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
  }
}
