.promo-form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;

  box-sizing: border-box;

  @media (max-width: $table) {
    padding-bottom: 50px;
  }

  @media (max-width: $mobile) {
    padding: 0;
    overflow: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 10px;
    width: 167px;
    height: 226px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../img/promo-form/bag.png");

    transform: rotate(15deg);

    @media (max-width: 1366px) {
      left: -14.51px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 18%;
    padding-left: 100px;
    max-width: 575px;
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      padding-left: 50px;
      width: 60%;
    }

    @media (max-width: $table) {
      padding-left: 25px;
      width: 65%;
    }

    @media (max-width: $mobile) {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      align-items: center;
    }

    & h2 {
      margin-bottom: 24px;

      @media (max-width: $mobile) {
        padding: 0 16px;
      }
    }

    & p {
      margin: 0;
      margin-bottom: 65px;
      padding-right: 25px;
      max-width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 170%;
      color: #484848;
      opacity: 0.87;
      box-sizing: border-box;

      @media (max-width: $table) {
        margin-bottom: 24px;
      }

      @media (max-width: $mobile) {
        padding: 0 15%;
        font-size: 16px;
        line-height: 160%;
      }

      @media (max-width: $mobile-xs) {
        padding: 0 16px;
      }
    }
  }

  &__pic {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: auto;

    @media (max-width: $table) {
      bottom: 0;
      top: auto;
      width: 50%;
    }

    @media (max-width: $mobile) {
      z-index: 0;
      position: relative;
      width: 100%;
      margin: 0;
    }

    & img {
      max-width: 100%;
      height: auto;
      object-fit: contain;

      @media (max-width: $mobile) {
        display: block;
        margin-left: auto;
      }
    }
  }

  &__form {
    position: relative;
    max-width: 100%;
    width: 475px;
    box-sizing: border-box;

    @media (max-width: 800px) {
      width: 325px;
    }

    @media (max-width: $mobile) {
      padding: 0 15%;
      width: 100%;
    }

    @media (max-width: $mobile-xs) {
      padding: 0 16px;
    }

    & label {
      display: block;
      max-width: 100%;
      margin-bottom: 8px;
      box-sizing: border-box;

      &.input-phone {
        &::before {
          left: 61px;
        }
      }
    }

    & input {
      padding: 10px 40px;
      width: 100%;
      max-width: 100%;
      min-height: 50px;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      font-variant: small-caps;

      color: #484848;
      opacity: 0.5;
      border: 2px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 80px;

      outline: none;

      &:focus {
        border-color: $warning-color;
      }

      &:valid {
        border-color: $primary-color;
      }

      &::placeholder {
        font-family: $mainFontMedium;
      }

      &:focus:invalid {
        outline: none;
      }

      @media (max-width: $mobile) {
        padding: 16px 40px;
      }
    }

    & button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px 40px;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      font-variant: small-caps;

      color: #ffffff;

      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
      border: none;

      background: linear-gradient(140.64deg, #ffc341 20.46%, #ffd701 65.31%);
      border-radius: 80px;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;

      @media (max-width: 800px) {
        position: relative;
        width: 100%;
      }

      @media (max-width: $mobile-xs) {
        padding: 15px 20px;
        max-width: 270px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
