.questions {
  position: relative;

  padding-top: 71px;
  padding-bottom: 100px;

  background-image: url("../img/questions/bag.svg"),
    url("../img/questions/water-color-bg-min.png");
  background-position: left bottom, 0 0;
  background-size: 12%, cover;
  background-repeat: no-repeat, no-repeat;

  @media (max-width: $mobile) {
    background-image: url("../img/questions/bag.svg");
    background-position: -7% 87%;
    background-size: 194px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0;

    @media (max-width: $mobile) {
      padding-right: 16px;
    }

    & h2 {
      margin-bottom: 20px;
    }
  }

  &__pic {
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      display: none;
      width: 100%;
    }
  }

  &__info {
    margin-right: 50px;
    width: calc(50% - 50px);
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 100%;
      margin-right: 0;
    }
  }
}
