.questions {
  position: relative;

  padding-top: 79px;
  padding-bottom: 100px;

  background-image: url("../img/questions/water-color-bg-min.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 200px;
    height: 200px;
    background-image: url("../img/questions/bag.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0;

    @media (max-width: $mobile) {
      padding-right: 16px;
    }
  }

  &__pic {
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__info {
    margin-right: 50px;
    width: calc(50% - 50px);
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__mask {
    max-width: 100%;

    @media (max-width: $mobile) {
      height: auto;
    }
  }
}
