.review {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  max-width: 100%;
  color: $primary-color;
  box-sizing: border-box;

  &__pic {
    width: 30%;
    box-sizing: border-box;

    @media (max-width: $table) {
      width: 100%;
      align-items: center;
    }

    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__program {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;

    color: $primary-color;
    opacity: 0.74;

    & span {
      color: $secondary-color;
    }
  }

  &__info {
    margin: 0;
    width: 65%;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    @media (max-width: $table) {
      width: 100%;
      align-items: center;
    }

    & h3 {
      margin: 0;
      margin-bottom: 10px;

      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;

      color: $primary-color;
      opacity: 0.74;

      @media (max-width: $table) {
        margin-left: 102px;
        margin-bottom: 23px;
      }
    }

    & p {
      margin: 0;
      margin-bottom: 20px;
      width: 100%;

      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 170%;

      color: $primary-color;
      opacity: 0.74;

      @media (max-width: $table) {
        text-align: center;
      }
    }
  }

  &__text {
    & a {
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;

      text-decoration-line: underline;

      color: $secondary-color;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;

    & svg {
      fill: rgba(72, 72, 72, 0.2);
    }
  }

  &__mask {
    max-width: 100%;

    @media (max-width: $mobile) {
      height: auto;
    }
  }
}
