.reviews {
  position: relative;

  background-image: url("../img/reviews/watercolor_bg.png"),
    url("../img/reviews/sketch.png");
  background-size: cover, 535px 318px;
  background-position: 0 0, right 30%;
  background-repeat: no-repeat, no-repeat;

  overflow: hidden;

  @media (max-width: 1366px) {
    background-position: 0 0, right 30%;
  }

  @media (max-width: $mobile) {
    background-image: url("../img/reviews/sketch.png");
    background-position: right 60%;
    background-size: 439px;
  }

  &__container {
    padding-top: 60px;
    margin-bottom: 60px;
  }

  & h2 {
    margin-bottom: 16px;
    text-align: center;
  }

  &__slider {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;

    & .swiper-container {
      max-width: 100%;
    }

    & .swiper-pagination {
      width: 50%;
    }

    & .swiper-button-prev,
    & .swiper-button-next {
      height: 50px;

      top: 49%;

      width: 25%;

      outline: none;

      border: none;
      background-color: transparent;

      @media (max-width: $desktop) {
        top: 50%;
        right: -6px;
      }

      &::after {
        content: "";
      }

      & svg {
        fill: transparent;

        width: 25px;
        height: 25px;
      }
    }

    & .swiper-button-prev {
      left: 50%;
    }

    & .swiper-button-next {
      top: 35%;
      transform: rotate(-180deg);
    }
  }

  &__slider-nav {
    z-index: 5;
    position: absolute;
    width: 128px;
    height: 45px;
    bottom: -2px;
    left: 33%;

    @media (max-width: $mobile) {
      bottom: auto;
      top: 455px;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

    @media (max-width: $mobile-xs) {
      bottom: auto;
      top: 300px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__slider-wrapper {
    box-sizing: border-box;
  }

  &__slide {
    width: 100%;
    box-sizing: border-box;
  }
}
