.review {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  max-width: 100%;
  color: $primary-color;
  box-sizing: border-box;

  @media (max-width: $mobile) {
    justify-content: center;
  }

  &__pic {
    position: relative;
    width: 30%;
    height: 100%;

    box-sizing: border-box;

    @media (max-width: $table) {
      width: 30%;
      max-width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: $mobile) {
      width: 50%;
    }

    @media (max-width: $mobile-xs) {
      width: 100%;
    }

    // &--mask {
    //   position: relative;

    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     max-height: 528px;
    //     background-size: 100% 100%;
    //     background-repeat: no-repeat;
    //     background-image: url("../img/reviews/review-mask.png");

    //     overflow: hidden;
    //   }
    // }

    & img {
      width: 100%;
      max-width: 354px;
      height: auto;
      object-fit: contain;

      @media (max-width: $mobile-xs) {
        max-width: 233px;
      }
    }
  }

  &__program {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;

    color: $primary-color;
    opacity: 0.74;

    & span {
      color: $secondary-color;
    }
  }

  &__info {
    margin: 0;
    padding-top: 33px;
    width: 66%;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    @media (max-width: $table) {
      width: 60%;
    }

    @media (max-width: $mobile) {
      width: 100%;
      align-items: center;
    }

    & p {
      margin: 0;
      margin-bottom: 20px;
      width: 100%;

      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 170%;

      color: $primary-color;
      opacity: 0.74;

      @media (max-width: $table) {
        text-align: left;
      }

      @media (max-width: $mobile) {
        text-align: left;
        font-size: 16px;
        line-height: 160%;
      }
    }
  }

  &__header {
    @media (max-width: $mobile) {
      text-align: center;
    }

    & h3 {
      margin: 0;
      margin-bottom: 10px;

      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;

      color: $primary-color;
      opacity: 0.74;
    }
  }

  &__text {
    padding-right: 73px;

    @media (max-width: $mobile) {
      padding: 0 10%;
    }

    @media (max-width: $mobile-xs) {
      padding: 0;
    }

    & a {
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;

      text-decoration-line: underline;

      color: $secondary-color;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;

    padding-right: 73px;
    padding-top: 55px;

    @media (max-width: $mobile) {
      align-self: flex-start;
      padding-top: 25px;
    }

    & svg {
      fill: rgba(72, 72, 72, 0.2);
      height: 20px;
    }
  }
}
