.tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 0;
    margin: 0 36px 0 0;
    list-style: none;
    width: 27%;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 34%;
    }

    @media (max-width: $mobile) {
      margin-right: 0;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
    min-height: 68px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;

    color: $primary-color;
    opacity: 0.87;

    outline: none;

    cursor: pointer;

    box-sizing: border-box;

    &:not(.tabs__item--active):hover {
      color: $warning-color;

      & .tabs__icon {
        &--star {
          @include sprite($icon-1-g);
        }

        &--hat {
          @include sprite($icon-2-g);
        }

        &--bag {
          @include sprite($icon-3-g);
        }

        &--hand {
          @include sprite($icon-4-g);
        }

        &--candles {
          @include sprite($icon-5-g);
        }
      }
    }

    @media (max-width: $mobile) {
      padding: 6px 0;
      margin-right: 3px;
      min-height: 48px;
      font-size: 15px;
      line-height: 23px;
    }

    &--active {
      position: relative;
      color: $default-color;

      background: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);

      @media (max-width: $mobile) {
        border-radius: 35px;
        padding-right: 25px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
      }

      &::before {
        border: 35px solid transparent;
        border-top: 35px solid $default-color;
        border-right: 35px solid $default-color;
      }

      &::after {
        border: 35px solid transparent;
        border-right: 35px solid $default-color;
        border-bottom: 35px solid $default-color;
      }

      @media (max-width: $mobile) {
        &::before,
        &::after {
          border: 0;
        }
      }

      & .tabs__icon {
        @media (max-width: $mobile) {
          margin-right: 10px;
        }

        &--star {
          @include sprite($icon-1-w);
        }

        &--hat {
          @include sprite($icon-2-w);
        }

        &--bag {
          @include sprite($icon-3-w);
        }

        &--hand {
          @include sprite($icon-4-w);
        }

        &--candles {
          @include sprite($icon-5-w);
        }
      }
    }
  }

  &__content {
    align-self: flex-start;
    padding-top: 13px;
    width: 60%;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 100%;
      padding-top: 30px;
    }

    & h3 {
      margin: 0;
      margin-bottom: 24px;
      font-family: $titleFont;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: 0.1px;

      color: #1fc0fc;

      @media (max-width: $mobile) {
        margin-bottom: 19px;
        font-size: 24px;
        line-height: 29px;
      }
    }

    & p {
      margin: 0;
      margin-bottom: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 170%;

      color: #484848;
      opacity: 0.87;

      @media (max-width: $mobile) {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 160%;
      }
    }
  }
}

.tabs__icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 15px;
  box-sizing: border-box;

  &--star {
    @include sprite($icon-1-b);
  }

  &--hat {
    @include sprite($icon-2-b);
  }

  &--bag {
    @include sprite($icon-3-b);
  }

  &--hand {
    @include sprite($icon-4-b);
  }

  &--candles {
    @include sprite($icon-5-b);
  }
}
