.video {
  position: relative;
  padding-top: 8px;
  padding-bottom: 96px;

  box-sizing: border-box;
  overflow: hidden;

  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../img/video/watercolor-bg-min.png");

  @media (max-width: $mobile) {
    padding-top: 0;
    padding-bottom: 50px;
    background-image: url("../img/video/watercolor-bg-mob.png");
    background-position: right 50%;
  }

  &__header {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    @media (max-width: $mobile) {
      padding: 0 16px;
      text-align: left;
    }

    & h2 {
      margin-bottom: 24px;
    }

    & p {
      margin: 0;
      margin-bottom: 48px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 170%;

      text-align: center;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 160%;
      }
    }
  }

  &__link {
    display: block;
  }

  &__media {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 870px;
    min-height: 460px;
    margin: 0 auto;

    background-image: url("../img/video/video-bg-min.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $table) {
      max-width: 700px;
    }

    @media (max-width: $mobile) {
      min-height: 224px;
      background-image: url("../img/video/video-bg-mob.png");
    }
  }

  &__btn {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    border: none;
    background-color: transparent;
    border-radius: 50%;

    outline: none;

    &:focus,
    &:hover {
      cursor: pointer;

      & .video__svg-inner {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
      }

      & .video__svg-play {
        fill: #63d3fd;
      }
    }

    &:active {
      & .video__svg-inner {
        opacity: 0.32;
        fill: #f4f4f4;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
      }

      & .video__svg-play {
        fill: $secondary-color;
      }
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__svg-wrapper {
    opacity: 0.32;
    fill: $default-color;
  }

  &__svg-inner {
    fill: $default-color;
    box-shadow: none;
  }

  &__svg-play {
    fill: $secondary-color;
  }

  &__mask {
    width: 700px;
    height: 400px;
    max-width: 100%;

    @media (max-width: $mobile) {
      height: auto;
    }
  }
}
