// Глобальные переменные

$mainFont: "Fira Sans", "Arial", sans-serif;
$mainFontMedium: "Fira Sans Medium", "Arial", sans-serif;
$mainFontTitle: "Raleway", "Arial", sans-serif;
$mainFontTitleBold: "Raleway Bold", "Arial", sans-serif;
$titleFont: "Montserrat Bold", "Arial", sans-serif;
// Size
$mainFontSize: 15px;
$mainLineHeight: 170%;

// Main color
$default-color: #ffffff;
$primary-color: #484848;
$secondary-color: #1fc0fc;
$warning-color: #ffc341;
$gradient-color: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

$mobile: 767px;
$table: 1023px;
$desktop: 1199px;
